:root{
    --text-color: #ffffff;
    --card-front-color: #09683d;
    --card-back-color: #15AE68;
    }
    
    body {
    background: url(img/img-site.jpg);
    font-family: Tomorrow;
    }
    
    .cartao__conteudo {
    background-color: var(--card-front-color);
    text-align: center;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
    transform-style: preserve-3d;
    transition: transform 308ms ease-in-out;
    }
    
    #container {
    display: flex;
    flex-wrap: wrap;
    }
    
    .cartao {
    margin: 1rem 1rem;
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
    }<!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>One Piece</title>
        <link rel="stylesheet" href="assets/style.css">
    </head>
    <body>
     <main><!DOCTYPE html>
        <html lang="pt-br">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>One Piece</title>
        </head>
        <body>
         <main>
            <section id="container">
        …</body>
        </html>
        <section id="container">
            <article class="cartao">
                <div class="cartao_conteuo">
                    <h3>One Piece</h3>
                    <div class="caratao_conteudo_pergunta">
                        Oque é uma kokuto?
                    </div>
                    <div class"cartao_conteuo_resposta">
    São espadas que com o passar do tempo ficam com lâminas negras
                    </div>
                </div>
            </article>
            <section id="container">
                <article class="cartao">
                    <div class="cartao_conteuo">
                        <h3>One Piece</h3>
                        <div class="caratao_conteudo_pergunta">
        Como as akumas-no-mi surgem segundo Vegapunk?
                        </div>
                        <div class"cartao_conteuo_resposta">
    Através do deejo das pessoa ela se materializam em forma de frutas
                        </div>
                    </div>
                </article>
                <section id="container">
                    <article class="cartao">
                        <div class="cartao_conteuo">
                            <h3>One Piece</h3>
                            <div class="caratao_conteudo_pergunta">
            Qual foi o único membro os chapéus de palha que mentiu ou enganou sua tripulação?
                            </div>
                            <div class"cartao_conteuo_resposta">
    Nami
                            </div>
                        </div>
                    </article>
        </section>
     </main>
     <footer>
        <p>desnvolvido pelo aluno Leonardo</p>
     </footer>
    </body>
    </html>
    
    .cartao__conteudo p {
    padding: 4rem;
    margin-top: 4rem;
    }
    
    .cartao__conteudo h3 {
    color: var(--text-color);<!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>One Piece</title>
        <link rel="stylesheet" href="assets/style.css">
    </head>
    <body>
     <main><!DOCTYPE html>
        <html lang="pt-br">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>One Piece</title>
        </head>
        <body>
         <main>
            <section id="container">
        …</body>
        </html>
        <section id="container">
            <article class="cartao">
                <div class="cartao_conteuo">
                    <h3>One Piece</h3>
                    <div class="caratao_conteudo_pergunta">
                        Oque é uma kokuto?
                    </div>
                    <div class"cartao_conteuo_resposta">
    São espadas que com o passar do tempo ficam com lâminas negras
                    </div>
                </div>
            </article>
            <section id="container">
                <article class="cartao">
                    <div class="cartao_conteuo">
                        <h3>One Piece</h3>
                        <div class="caratao_conteudo_pergunta">
        Como as akumas-no-mi surgem segundo Vegapunk?
                        </div>
                        <div class"cartao_conteuo_resposta">
    Através do deejo das pessoa ela se materializam em forma de frutas
                        </div>
                    </div>
                </article>
                <section id="container">
                    <article class="cartao">
                        <div class="cartao_conteuo">
                            <h3>One Piece</h3>
                            <div class="caratao_conteudo_pergunta">
            Qual foi o único membro os chapéus de palha que mentiu ou enganou sua tripulação?
                            </div>
                            <div class"cartao_conteuo_resposta">
    Nami
                            </div>
                        </div>
                    </article>
        </section>
     </main>
     <footer>
        <p>desnvolvido pelo aluno Leonardo</p>
     </footer>
    </body>
    </html>
    border: 1px solid var(--text-color);
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1vw;
    backface-visibility: hidden;
    }
    
    .cartao__conteudo__pergunta p {
    color: var(--text-color);
    font-weight: 500;
    }
    
    .cartao__conteudo__resposta p {
    color: var(--card-back-color);
    font-weight: 700;
    }
    
    .cartao:hover .cartao__conteudo{
    transform: rotateY(180deg);
    }
    
    .cartao__conteudo__pergunta,
    .cartao__conteudo__resposta {
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    }
    
    .cartao__conteudo__resposta{
    transform: rotateY(180deg);
    }
    
    footer {
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
    }
    
    footer p {
    text-align: center;
    font-size: 0.6rem;
    margin-top: 0.5rem;
    }